.DS_Store
dist
.idea
vendor/
.php_cs.cache
tests/integration-tests-1.6.1.x/node_modules
tests/integration-tests-1.6.1.x/cypress/screenshots
tests/integration-tests-1.6.1.x/cypress/videos
tests/integration-tests-1.7.7.x/node_modules
tests/integration-tests-1.7.7.x/cypress/screenshots
tests/integration-tests-1.7.7.x/cypress/videos
