<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ AltaPay module for PrestaShop
  ~
  ~ Copyright © 2020 AltaPay. All rights reserved.
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<module>
	<name>altapay</name>
	<displayName><![CDATA[AltaPay for PrestaShop]]></displayName>
	<version><![CDATA[3.3.1]]></version>
	<description><![CDATA[AltaPay: Payments less complicated]]></description>
	<author><![CDATA[AltaPay A/S]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure about removing these details?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
