includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon
    
parameters:
  paths:
    - %currentWorkingDirectory%
  level: max
  excludes_analyse:
    - %currentWorkingDirectory%/vendor/*
