includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon
    
parameters:
  paths:
    - %currentWorkingDirectory%
  reportUnmatchedIgnoredErrors: false
  level: 0
  excludes_analyse:
    - %currentWorkingDirectory%/vendor/*
  scanDirectories:
    - ../../
    - ../../classes/
