includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon
    
parameters:
  paths:
    - %currentWorkingDirectory%
  level: 0
  scanDirectories:
    - %currentWorkingDirectory%/vendor/altapay/
  excludes_analyse:
    - %currentWorkingDirectory%/vendor/*
  excludePaths:
    - %currentWorkingDirectory%/scoper.inc.php
