/*
 * AltaPay module for PrestaShop
 *
 * Copyright © 2020 AltaPay. All rights reserved.
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

 p.payment_module a.altapay {
      background-color: #fbfbfb;
}

p.payment_module a.altapay:hover {
      background-color: #f6f6f6;
}

#altapay_terminals_form_1 .panel-footer {
      border-color: transparent;
      height: auto;
      margin: 0px 0px 24px;
      padding-left: 0;
}

p.payment_module a.altapay:after {
      display: block;
      content: "\f054";
      position: absolute;
      right: 15px;
      margin-top: -11px;
      top: 50%;
      font-family: "FontAwesome";
      font-size: 25px;
      height: 22px;
      width: 14px;
      color: #777;
}

.savecard-checkbox {
      margin-bottom: 14px;
}

#hidden-terminalid {
      display: none;
}

body#checkout section.checkout-step .payment-options .payment-option {
      display: flex;
      align-items: center;
}

body#checkout section.checkout-step .payment-options .payment-option label {
      margin-bottom: 0;
}

body#checkout section.checkout-step .payment-options .payment-option label img {
      max-width: 60px;
      margin-left: 15px;
      max-height: 30px;
}

div#card_info,
div#order-detail-content {
      padding: 1rem;
      background: #fff;
      margin-bottom: 1rem;
}

#cart_summary thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #f6f6f6;
      color: #7a7a7a;
      background-color: #f6f6f6;
}

#module-altapay-callbackform .breadcrumb,
#module-altapay-callbackfail .breadcrumb {
      display: none;
}

div#payment_error {
      padding: 30px 0;
}

/** Legacy **/

#legacy-cc .pensio_payment_form_outer {
      width: 50%;
}

#legacy-cc .pensio_payment_form_outer input[type='text'],
#legacy-cc .pensio_payment_form_outer input[type='tel'] {
      width: 70%;
      padding: 11px;
      border: 1px solid #ddd;
      margin: 0px 0px;
}

#legacy-cc label#selectCardLabel {
      display: none;
}

#legacy-cc label.pensio_payment_form_label_cell {
      margin-top: 16px;
}

#legacy-cc .pensio_payment_form_outer select#emonth,
#legacy-cc .pensio_payment_form_outer select#eyear {
      width: 5rem;
      height: 2.5rem;
      padding: 0.175rem 0.5rem;
      color: #232323;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.25);
}

#legacy-cc input#pensioCreditCardPaymentSubmitButton {
      color: #fff;
      background-color: #24b9d7;
      border-color: rgba(0, 0, 0, 0);
      padding: 0.5rem 1.25rem;
      font-weight: 600;
      text-transform: uppercase;
}


/** Checkout Styling **/

#checkout-cc .pensio_payment_form_outer {
      width: 100%;
}

#checkout-cc p.payment-headline {
      margin-bottom: 25px;
}

#checkout-cc #card_info {
      max-width: 500px;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.16);
      padding: 20px 25px 25px 25px;
      box-sizing: border-box;
      border-radius: 10px;
      position: relative;
      box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px;
}

#checkout-cc .pensio_payment_form_card-number {
      position: relative;
}

#checkout-cc .pensio_payment_form_card-number,
#checkout-cc .pensio_payment_form_cardholder,
#checkout-cc .pensio_payment_form-cvc-input {
      margin-top: 4px;
}

#checkout-cc .pensio_payment_form_card-number input,
#checkout-cc .pensio_payment_form_cardholder input,
#checkout-cc input#organisationNumber {
      padding: 12px 14px;
      width: 100%;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.16);
      cursor: pointer;
      font-size: 16px;
      box-sizing: border-box;
      color: #666;
}

#checkout-cc .pensioCreditCardInput {
      color: #666;
}

#checkout-cc .pensio_payment_form_month select,
#checkout-cc #checkout-cc .pensio_payment_form_year select,
#checkout-cc #idealIssuer,
#checkout-cc select#birthdateDay,
#checkout-cc select#birthdateMonth,
#checkout-cc select#birthdateYear {
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: linear-gradient(45deg, transparent 50%, black 50%),
            linear-gradient(135deg, black 50%, transparent 50%);
      background-position: calc(100% - 20px) calc(20px + 2px),
            calc(100% - 15px) calc(20px + 2px), 100% 0;
      background-size: 5px 5px, 5px 5px, 40px 40px;
      background-repeat: no-repeat;
      cursor: pointer;
}

#checkout-cc .pensio_payment_form_month select,
#checkout-cc .pensio_payment_form_year select,
#checkout-cc #idealIssuer,
#checkout-cc select#birthdateDay,
#checkout-cc select#birthdateMonth,
#checkout-cc input#phoneNumber,
#checkout-cc select#birthdateYear {
      margin-top: 4px;
      padding: 12px 14px;
      width: 100%;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.16);
      background-color: white;
      font-size: 16px;
}

#checkout-cc .pensio_payment_form-cvc-input input {
      padding: 12px 14px;
      width: 100%;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.16);
      cursor: pointer;
      font-size: 16px;
}

#checkout-cc .pensio_payment_form_expiration {
      display: flex;
      width: 100%;
      gap: 0 10px;
}

#checkout-cc .pensio_payment_form_month {
      width: 30%;

}

#checkout-cc .pensio_payment_form_year {
      width: 30%;

}

#checkout-cc .pensio_payment_form_cvc {
      width: 40%;
}

#checkout-cc .pensio_payment_form-cvc-input {
      display: flex;
      position: relative;
}

#checkout-cc .cvc-icon {
      width: 35px;
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 7px;
      padding-top: 15px;
      align-items: center;
}

#checkout-cc .credit-card-visa-icon {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      padding-right: 7px;
      padding-top: 14px;
      align-items: center;
}

#checkout-cc .credit-card-mastercard-icon {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      padding-right: 50px;
      padding-top: 14px;
      align-items: center;
}

#checkout-cc .credit-card-maestro-icon {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      padding-right: 90px;
      padding-top: 14px;
      align-items: center;
}

#checkout-cc #creditCardTypeIcon {
      height: 40%;
      width: auto;
      position: absolute;
      display: flex;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto 1rem auto auto;
}

#checkout-cc #creditCardTypeSecondIcon {
      height: 40%;
      width: auto;
      position: absolute;
      display: flex;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto 4rem auto auto;
}

#checkout-cc #selectCardLabel {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 0 2rem 2px 0;
      font-size: 10px;
      opacity: 0.7;
}

#checkout-cc .pensio_payment_form_cvc-info-text {
      font-size: 10px;
      line-height: normal;
}

#checkout-cc .pensio_payment_form_label_cell {
      font-size: 16px;
      margin-bottom: 0;
}

#checkout-cc .cardnumber_row {
      margin-bottom: 20px;
}

#checkout-cc .expiry_row {
      display: flex;
      width: 100%;
      gap: 0 10px;
}

#checkout-cc .submit_row {
      margin-top: 20px;
}

#checkout-cc .AltaPaySubmitButton,
#checkout-cc #submitbutton,
#checkout-cc #cancelPayment {
      outline: none;
      padding: 15px 16px;
      color: white;
      border-radius: 3px;
      width: 100%;
      border: none;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
      font-weight: bold;
      font-size: 17px;
}

#checkout-cc .AltaPaySubmitButton {
      background: #31C37E;
}

#checkout-cc .AltaPaySubmitButton:hover {
      background: #16b36e;

}

#checkout-cc .AltaPaySubmitButton:disabled,
#checkout-cc #submitbutton,
#checkout-cc #cancelPayment,
#checkout-cc #submitbutton:disabled {
      background: black;
      outline: none;
      padding: 15px 16px;
      color: white;
      border-radius: 3px;
      width: 100%;
      border: none;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
      font-weight: bold;
      font-size: 17px;

}

#checkout-cc .pensio_required_field_indicator,
#checkout-cc #invalid_amex_cvc,
#checkout-cc #invalid_cvc,
#checkout-cc #invalid_cardholdername {
      color: red;
      font-size: 12px;
      line-height: normal;
      margin-top: 4px;
}

#checkout-cc .PensioCloseButton,
#checkout-cc .CustomAltaPayCloseButton {
      width: 40px;
      height: 20px;
      font-size: 18px;
      background-color: red;
      color: white;
      cursor: pointer;
      padding: 4px;
      position: absolute;
      right: 0;
      top: 0;
}

#checkout-cc .PensioRadioButton {
      border: none;
      background-color: transparent;
      cursor: pointer;
}

#checkout-cc div.PensioMultiformContainer form {
      display: none;
}

#checkout-cc #PensioJavascriptDisabledSurchargeNotice {
      color: red;
      background-color: white;
}

#checkout-cc #iDealPayment table {
      width: 100%;
}

#checkout-cc #iDealPayment #pensioPaymentIdealSubmitButton {
      margin-top: 20px;
}

#checkout-cc #idealIssuer select {
      color: #666;
}

#checkout-cc .pensio_payment_form_cvc-info-text {
      margin-top: 2px;
}

#checkout-cc select#birthdateDay,
#checkout-cc select#birthdateMonth,
#checkout-cc input#cancelPayment,
#checkout-cc input#enableAccount,
#checkout-cc input#acceptTerms,
#checkout-cc input#phoneNumber,
#checkout-cc input#organisationNumber {
      margin-bottom: 10px;
}

#checkout-cc div.PensioMultiformContainer form {
      position: relative;
      border: none;
      background-color: white;
      padding: 0;
      margin: 0;
      border-radius: 0;
      top: 0;
      width: 100%;
}

#checkout-cc input#CreditCardButton {
      left: 0px;
}

#checkout-cc input#GiftCardButton {
      left: 100px;
}

#checkout-cc div.PensioMultiformContainer .FormTypeButton {
      position: absolute;
      top: -32px;
      height: 32px;
      margin-left: 25px;
      border: 1px solid rgba(0, 0, 0, 0.16);
}

#checkout-cc div.PensioMultiformContainer {
      position: initial;
}

#checkout-cc #Mobile .pensio_payment_form_label_cell {
      font-size: 16px;
      margin-bottom: 0;
      vertical-align: top;
      padding-top: 15px;
}

#checkout-cc input#giftcard_account_identifier {
      background-color: white;
      padding: 12px 14px;
      border-radius: 3px;
      margin-bottom: 15px;
      color: #666;
      border: 1px solid rgba(0, 0, 0, 0.16);
}

#checkout-cc .PensioMultiformContainer input#giftcard_account_identifier,
#checkout-cc table.pensio_payment_form_table {
      width: 100%;
}

.page-order-detail {
    position: relative;
    float: left;
    background-color: #fff;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
}

#module-altapay-callbackredirect .page-order-redirection form {
    margin-bottom: 10px;
}

#module-altapay-callbackredirect #blockEmailSubscription_displayFooterBefore,
#module-altapay-callbackredirect nav.breadcrumb.hidden-sm-down {
    display: none;
}

.niara #radio_pay_over_time, .niara #radio_pay_later {
      opacity: 1;
      position: relative;
      vertical-align: top;
      margin-right: 5px;
}

.niara #iDealPayment td {
      padding: 10px;
      text-align: left;
}

.altapay-ps-1-6 p.payment_module a.altapay {
      padding-left: 15px;
}

.altapay-ps-1-6 p.payment_module a.altapay img {
      max-width: 65px !important;
      margin-right: 15px;
}

.altapay-ps-1-6 p.payment_module a.altapay span {
      display: block;
      font-weight: normal;
      padding-left: 84px;
}

@media only screen and (max-width: 768px) {
      .pensio_payment_form_outer {
            width: 100%;
      }
}